@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

#footer {
    background: #403D39;
    padding-bottom: 2rem;
    color: #CCC5B9;
    font-size: 1.1rem;
    font-family: 'Cabin Condensed', sans-serif;
}

#footer .copyright {
    text-align: center;
    padding-top: 2rem;
}

#footer .credits {
    padding-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #CCC5B9;
}

#footer .credits a{
    text-decoration: none;
    color: #CCC5B9;
}

#footer .credits a:hover{
    text-decoration: none;
    color: #FFFCF2;
}

#details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}