@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,700;7..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

.navbar{
    background-color: #FFFCF2;
    font-weight: bold;
    font-size: 1.4rem;
    width: 100%;
    font-family: 'Cabin Condensed', sans-serif;
}
.logo{
    text-decoration: none;
    color: #252422;
    font-family: 'Literata', serif;
    font-size: 2.5rem;
}
.logo:hover{
    color: #252422;
}
.navbar .nav-link{
    color: #252422;
}
.navbar .nav-link:active{
    background-color: #252422;
    color: #FFFCF2;
}