{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
{%endblock%}
<footer id="footer">
    <div class="container d-flex" id="details">
        <div class="copyright">
            © Copyright
            <strong> <span>Realtime News</span></strong>.
            All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://github.com/wilowala"> <strong>William Owalla</strong></a>
        </div>
    </div>
</footer>